/_Tests
/.idea
/_DataFolder
__pycache__
/Applications/KMeans/Lession2-data2.txt
/Applications/KMeans/sm-s05-1.lhco
/Applications/KMeans/s05-20.lhco
/Applications/KMeans/datamixed.txt
/Applications/KMeans/MixedResult.csv
/Applications/KMeans/datamixedntgc.txt
/Applications/KMeans/resultv0.csv
/Applications/KMeans/resultv3.csv
/Applications/KMeans/v0event.csv
/Applications/KMeans/v3event.csv
/Applications/KMeans/historyv0.csv
/Applications/KMeans/historyv0-1.csv
/Applications/KMeans/essdatav0.csv
/Applications/KMeans/essdatav3.csv
/Applications/KMeans/historyv0-2.csv
/Applications/KMeans/historyv3.csv
/Applications/KMeans/historyv3-1.csv
/Applications/KMeans/historyv3-2.csv
/Applications/KMeans/historyv3-3.csv
/Applications/KMeans/resultv0-2d.csv
/Applications/KMeans/v0event2d.csv
/Applications/KMeans/v0event3d.csv
/Applications/KMeans/historyv3-4.csv
/Applications/KMeans/historyv3-5.csv
/Applications/KMeans/resultv0-2d-0.csv
/Applications/KMeans/resultv0-2d-1.csv
/Applications/KMeans/resultv0-2d-2.csv
/Applications/KMeans/resultv0-2d-3.csv
/Applications/KMeans/resultv0-n0-1.csv
/Applications/KMeans/resultv0-n0-2.csv
/Applications/KMeans/resultv0-n0-3.csv
/Applications/KMeans/resultv0-n0-4.csv
/Applications/KMeans/resultv0-n0-5.csv
/Applications/KMeans/resultv0-n1.csv
/Applications/KMeans/resultv0-n2.csv
/Applications/KMeans/resultv0-n3.csv
/Applications/KMeans/resultv0-n4.csv
/Applications/KMeans/v0event-n0.csv
/Applications/KMeans/v0event-n1.csv
/Applications/KMeans/v0event-n2.csv
/Applications/KMeans/v0event-n3.csv
/Applications/KMeans/v0event-n4.csv
/Applications/KMeans/v3event-n0.csv
/Applications/KMeans/v3event-n1.csv
/Applications/KMeans/v3event-n2.csv
/Applications/KMeans/v3event-n3.csv
/Applications/KMeans/v3event-n4.csv
