/_Tests
/.idea
/_DataFolder
__pycache__
/Applications/KMeans/Lession2-data2.txt
/Applications/KMeans/sm-s05-1.lhco
/Applications/KMeans/s05-20.lhco
/Applications/KMeans/datamixed.txt
/Applications/KMeans/MixedResult.csv
/Applications/KMeans/datamixedntgc.txt
/Applications/KMeans/resultv0.csv
/Applications/KMeans/resultv3.csv
/Applications/KMeans/v0event.csv
/Applications/KMeans/v3event.csv
/Applications/KMeans/historyv0.csv
/Applications/KMeans/historyv0-1.csv
